*{

    background-color:#8AA8A1;
    background-color:#D1B490;
    background-color:#EE7B30;
    background-color:#885A89;
    background-color:#CBCBD4;
}

#flexContainer{
    background-color:#D1B490;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    padding:1em;
    
}

span a{
    background-color:#D1B490;
    text-decoration:none;
}

.routineBox{
    background-color:#EE7B30;
}
